spring:
  application:
    name: revisaospring

  jpa:
    database: h2
    open-in-view: false
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

  datasource:
    url: jdbc:postgresql://localhost:5432/books_db
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: 1234

server:
  port: 8080